@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tenant-primary: #109347;
  --tenant-primary-hover: #0d7a39;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
